doctype html
html
  head
    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title #{event.name} &mdash; Edit Event

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(href='/css/quill.snow.css' rel='stylesheet')
    link(rel='stylesheet' href='/css/style.css')
    




  body
    .dashboard
      include ../partials/header

      .container-fluid.mx-0
        .row
          include ../partials/sidebar

          .col-md-9.dashboard-content
            .dashboard-flash-messages
              if validationErrors
                .alert.alert-danger
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                   span(aria-hidden='true') &times;

                  p Please fix the following errors
                  - validationErrors.forEach(err => {
                    li #{err}
                  - })
              



            .dashboard-notice__container.mx-auto
              
              #toolbar
                span.ql-formats
                  select.ql-header
                    option(value='1') Heading
                    option(value='2') Subheading
                    option(selected='') Normal
                  select.ql-font
                    option(selected='') Sans Serif
                    option(value='serif') Serif
                    option(value='monospace') Monospace
                span.ql-formats
                  button.ql-bold
                  button.ql-italic
                  button.ql-underline
                  button.ql-strike
                span.ql-formats
                  select.ql-color
                  select.ql-background
                span.ql-formats
                  button.ql-list(value='ordered')
                  button.ql-list(value='bullet')
                  select.ql-align
                    option(selected='')
                    option(value='center')
                    option(value='right')
                    option(value='justify')
                span.ql-formats
                  button.ql-blockquote
                  button.ql-link
                  button.ql-image
                  button.ql-code-block
                  button.ql-video
                span.ql-formats
                  button.ql-clean


                a.save(href="/") Update

              .title-input
                span Event Name
                input.title(id="name" type="text" placeholder="Event Name" autocomplete="off" style="margin-left: 13rem;" value=event.name)   

              form.new-notice.border-0(action=`/event/${event._id}?_method=PUT` method="POST")
                input.d-none(type="text" name="name")
                textarea.d-none(name="desc", cols="30", rows="10")

                .form-row
                  .col-6.px-0
                    input.title.ml-0(type='text' placeholder='Event Type' name="type" autocomplete="off" value= `${event.type}`)
                  .col-6.px-0(style="border-left: 1px solid rgba(0,0,0,.1);")
                    input.title.ml-0(type='text' placeholder='Registration Fee' name="fee" autocomplete="off" value= event.fee > 0 ? event.fee: '')

                .form-row
                  .col-4.px-0
                    input.title.ml-0(type="text" id="startTime" placeholder="Event Starting Time" autocomplete ="off" name="startTime" value=`${ moment(event.startTime).format('Y/MM/D hh:mm')}`)
                  .col-4.px-0(style="border-left: 1px solid rgba(0,0,0,.1);")
                    input.title.ml-0(type="text" id="finishTime" placeholder="Event Finishing Time" autocomplete="off" name="finishTime" value=`${ moment(event.finishTime).format('Y/MM/D hh:mm')}`)
                  .col-4.px-0(style="border-left: 1px solid rgba(0,0,0,.1);")
                    input.title.ml-0(type="text" id="finishTime" placeholder="Album ID" autocomplete="off" name="galleryId" value= event.galleryId ? event.galleryId: '')



                




                
          
              #editor
                

            
    include ../partials/footer
    link(rel="stylesheet", href="/css/jquery.datetimepicker.css")
    script(src='/js/image-resize.min.js')
    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
    script(src='/js/jquery.datetimepicker.js')


    script.
      var editor = new Quill('#editor', {
        modules: { 
          toolbar: '#toolbar', 
          imageResize: {} 
        },
        theme: 'snow',
        placeholder: 'Event description...',

      });

      var saveBtn = document.querySelector('a.save');
      var form = document.querySelector('form.new-notice');
      var titleInput = document.querySelector('.title-input input.title');
      var editorContents = document.querySelector('.ql-editor');

      saveBtn.addEventListener('click', (e) => {
        e.preventDefault();
        form.elements.name.value = titleInput.value;
        form.elements.desc.value = editorContents.innerHTML
        form.submit();
      });

      $(function () {
          $('#startTime').datetimepicker({
            format: 'Y/m/d H:i'
          });
          $('#finishTime').datetimepicker({
            format: 'Y/m/d H:i'
          });
      });
    
      
