footer.footer
  .footer__top
    .container
      .row
        .col-lg-4.col-md-6
          img.rounded(src='https://dummyimage.com/70x70/fff/aaa&text=Logo' alt='Logo')
          .my-4
            p
              | Nunc placerat mi id nisi interdm they mtolis. Praesient is haretra justo ught scel
              | erisque placer.
        .col-lg-4.col-md-6
          h4.h5.text-white Contact Us
          .width-3rem.bg-primary.height-3.mt-3
          ul.list-unstyled.marginTop-40
            li.mb-3
              i.fa.fa-envelope
              a(href='tel:+8801740411513')  #{AOPSInfo.contactPhone}
            li.mb-3
              i.fa.fa-phone
              a(href='mailto:contact@acs.aops.org') #{AOPSInfo.contactEmail}
            li.mb-3
              i.fa.fa-map-marker
              span #{AOPSInfo.address.city}, #{AOPSInfo.address.country}
        .col-lg-4.col-md-6
          h4.h5.text-white Quick links
          .width-3rem.bg-primary.height-3.mt-3
          ul.list-unstyled.marginTop-40
            li.mb-2
              a(href='page-about.html') About Us
            li.mb-2
              a(href='page-contact.html') Contact Us
            li.mb-2
              a(href='page-sp-student-profile.html') Students
            li.mb-2
              a(href='page-sp-admission-apply.html') Admission
            li.mb-2
              a(href='page-events.html') Events
            li.mb-2
              a(href='blog-card.html') Latest News
      // END row
    // END container
  .footer__bottom.text-center
    .container
      p.text-white.mb-0 &copy; 2019 #{AOPSInfo.name} #{AOPSInfo.type}. All rights reserved.
