doctype html
html
  head
    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title Register &mdash; #{AOPSInfo.name} #{AOPSInfo.type}

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(rel='stylesheet' href='/css/picker.min.css')
    script(src='/js/jquery.min.js')
    script(src='/js/popper.min.js')
    script(src='/js/bootstrap.min.js')
    style. 
      .picker {display: block;}
      .pc-select{min-width: 100% !important;}
      .picker .pc-element, .picker .pc-trigger { padding: 1rem 1.5rem; border: 0; border-radius: 2rem; background: #F0F0F6; }

  body
    main.login-box
      .container-fluid
        .row
          .col-md-5
            if errorMessage.length > 0
              .alert.alert-danger
                | !{errorMessage}
              

            .login-box__container.login-box__reg
              .login-box__title
                p Register
              .login-box__contents

                form(action="/register" method="POST")
                  .form-row.mb-4
                    .col-6.mb-4.pr-4
                      label(for="nameInput") Name
                      input#nameInput.form-control(type='text' placeholder='Full Name' name="name" value= name)
                    .col-6.mb-4.pl-4
                      label(for="emailInput") Email
                      input#emailInput.form-control(type='text' placeholder='Email' name="email" value= email)
                    .col-6.mb-4.pr-4
                      label(for="passwordInput") Password
                      input#passwordInput.form-control(type='password' placeholder='Password'  name="password")
                    .col-6.mb-4.pl-4
                      label(for="passwordConfInput")  Confirm Password
                      input#passwordConfInput.form-control(type='password' placeholder='Confirm password' name="confPassword")
                    .col-6.mb-4.pr-4
                      label(for="phoneInput") Phone
                      input#phoneInput.form-control(type='text' placeholder='Phone' name="phone")
                    
                    .col-6.mb-4.pl-4
                      label(for="roleDisplayInput") Role
                      input#roleDisplayInput.form-control(style="background: #fff; border: 1px solid rgba(0,0,0,.2);")(disabled type='text' placeholder='Role' name="roleDisplayInput" value= `${role}`)

                    .col-12.mb-4.pl-4.d-none
                      label(for="tokenInput") Role
                      input#tokenInput.form-control( type='text' name="role" value = `${role}`)

                    .col-12.mb-4.pl-4.d-none
                      label(for="tokenInput") Token
                      input#tokenInput.form-control( type='text' name="token" value = `${token}`)
                    
                    
                  .form-row
                    .col-12
                      input.btn.btn-primary(type='submit' value='Register')
                      
    script. 
      