doctype html
html
  head
    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title Dashboard &mdash; #{AOPSInfo.name} #{AOPSInfo.type}

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')


  body
    .dashboard
      header.dashboard__header

      .container-fluid.mx-0
        .row
          include ../partials/sidebar

          .col-md-10.dashboard-content
            .dashboard-notice__container.mx-auto
              - for (let i = 0; i < notices.length; ++i) {
                .dashboard-notice__single
                  .dashboard-notice__title
                    h3 #{notices[i].title}
                    p 
                      span Posted on #{ moment(notices[i].created).format('llll') }
                  .dashboard-notice__links
                    a.view(href=`/notice/${notices[i]._id}`) View
                    a.update(href="#") Edit
                    a.delete(href="#") Delete
              - }
            
    include ../partials/footer
                  

