doctype html
html
  head
    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title All Notices &mdash; #{AOPSInfo.name} #{AOPSInfo.type}

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')


  body
    .dashboard
      include ../partials/header

      .container-fluid.mx-0
        .row
          include ../partials/sidebar

          .col-md-9.dashboard-content
            .dashboard-flash-messages
              -if (successMessage.length > 0)
                .alert.alert-success
                  | #{successMessage}
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;

              - if (errorMessage.length > 0)
                .alert.alert-danger
                  | #{errorMessage}
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;


            if galleries.length === 0
              p.text-center No album posted yet....!

            .dashboard-notice__container.mx-auto
              


              - for (let i = 0; i < galleries.length; ++i) {
                .dashboard-notice__single
                  .dashboard-notice__title
                    h3 #{galleries[i].name} 
                      span(style="font-size: 1.4rem;")
                        | (#{galleries[i].images.length} photos)
                    p 
                      span.d-block Posted on #{ moment(galleries[i].created).format('llll') }
                      span Created by 
                        a(href=`/member/${galleries[i].createdBy._id}`)
                          |#{galleries[i].createdBy.name}
                  .dashboard-notice__links
                    a.view(href=`/gallery/${galleries[i]._id}`) View

                    // if the notice is created by the user || the used has permission to edit and update
                    - var updateDeleteCond = galleries[i].createdBy._id.equals(user._id) || user.galleryPermissions.updateDeleteOthers
                    a.update(href= updateDeleteCond ? `/dashboard/gallery/update/${galleries[i]._id}` : null) Edit
                  
                    form(class="d-inline delete-notice-form" action=`/gallery/${galleries[i]._id}?_method=DELETE` method="POST")
                      a.delete(href= updateDeleteCond ? '/' : null) Delete
              - }
            
    include ../partials/footer
    script. 
      let deleteButtons = document.querySelectorAll('a.delete');

      for (let i = 0; i < deleteButtons.length; ++i) {
        let single = deleteButtons[i];
        if ( single.getAttribute('href') === null ) continue;
        
        single.addEventListener('click', (e) => {
          e.preventDefault();
          e.target.parentElement.submit();
        });
      }
      
                  

