doctype html
html
  head
    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title General Settings &mdash; #{AOPSInfo.name} #{AOPSInfo.type}

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')
    link(href='/css/quill.snow.css' rel='stylesheet')


    

  body
    .dashboard
      include ../partials/header

      .container-fluid.mx-0
        .row
          include ../partials/sidebar
          .col-md-9.dashboard-content
            .dashboard-flash-messages
              - if (successMessage.length > 0)
                .alert.alert-success
                  | #{successMessage}
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;

              - if (errorMessage.length > 0)
                .alert.alert-danger
                  | #{errorMessage}
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;

              - if (validationError.length > 0)
                .alert.alert-danger
                  button.close(type='button' data-dismiss='alert' aria-label='Close')
                    span(aria-hidden='true') &times;
                  p Please fix the following errors
                  | !{validationError}
                  


            .dashboard-notice__container.mx-auto
              .dashboard-settings__container 
                form(action="/dashboard/settings/account?_method=PUT" method="POST" enctype="multipart/form-data")
                  .form-row(style="margin-bottom: 4rem;")
                    .col-12
                      .form-title
                        h4 Personal Informations

                    .col-6.mb-4
                      label(for='name') Full Name
                      input#name.form-control(type='text' placeholder='Full Name' value=`${user.name}` required='true' name='name')
                   
                    .col-6.mb-4
                      label(for='phone') Phone
                      input#phone.form-control(type='test' placeholder='Phone' value=`${user.phone}` required='true' name='phone')
                
                    .col-6.mb-3
                      label(for='email') Email Address
                      input#email.form-control(type='email' placeholder='Email' value=`${user.email}` required='true' name='email')
                    
                    .col-6.mb-3
                      label(for='role') Role
                      input#role.form-control(disabled type='text' placeholder='Role' value=`${user.role}` required='true' name='role')
                    
                    .col-12.mb-3.mt-5
                      .form-title
                        h4 Profile photo
                      input#avatar(class='form-control-file' type='file' name='photo')



                    if user.role === 'Executive Member'
                      .col-6.mb-3
                        label(for='position') Position
                        input#position.form-control(disabled type='text' placeholder='Position' value= user.position ? user.position : 'None')

                      .col-6.mb-3
                        .form-group
                          label(for="roles") Change Position
                          select#roles.form-control(name="position")
                            option(value="President" disabled selected) Select your positon
                            option(value="President") President
                            option(value="Secretary") Secretary
                            option(value="General Secretary") General Secretary
                            option(value="Assistant General Secretary") Assistant General Secretary
                            option(value="Programming Contest Secretary") Programming Contest Secretary
                            option(value="Assistant Programming Contest Secretary") Assistant Programming Contest Secretary
                            option(value="Finance Secretary") Finance Secretary
                            option(value="Assistant Finance Secretary") Assistant Finance Secretary
                            option(value="Sports Secretary") Sports Secretary
                            option(value="Assistant Sports Secretary") Assistant Sports Secretary
                            option(value="Debate Secretary") Debate Secretary
                            option(value="Assistant Debate Secretary") Assistant Debate Secretary
                            option(value="Office Secretary") Office Secretary
                            option(value="Assistant Office Secretary") Assistant Office Secretary
                            option(value="Seminar & Workshop Secretary") Seminar &amp; Workshop Secretary
                            option(value="Assistant Seminar & Workshop Secretary") Assistant Seminar &amp; Workshop Secretary
                            option(value="Social Welfare Secretary") Social Welfare Secretary
                            option(value="Cultural Secretary") Cultural Secretary
                            option(value="Assistant Cultural Secretary") Assistant Cultural Secretary
                            option(value="Place and Publicity Secretary") Place and Publicity Secretary
                            option(value="Assistant Place and Publicity Secretary") Assistant Place and Publicity Secretary
                            option(value="Industry Collaboration Secretary") Industry Collaboration Secretary
                            option(value="Assistant Industry Collaboration Secretary") Assistant Industry Collaboration Secretary
                            option(value="Creative Designer") Creative Designer
                            option(value="Photographer") Photographer
                            option(value="Video Edtior") Video Edtior


                  .form-row
                    .col-12
                      .form-title
                        h4 Change password

                    .col-12.mb-3
                      label(for='passwordChange') New password
                      input#passwordChange.form-control(type='password' placeholder='New password' value=``  name='password')


                    .col-12.mb-3
                      .form-title.mt-5
                        h4 Current password

                      label(for='passwordOld') Enter current password for changing account information
                      input#passwordOld.form-control(type='password' placeholder='Current password' value=`` name='passwordOld')
                    
                




                 

                  
                  button.btn.btn-primary.mt-4(type='submit') Update Info


    
    include ../partials/footer


