header.dashboard__header
  a.aops-link(href="/") #{AOPSInfo.name} #{AOPSInfo.type}

  div.links
    a(href=`/member/${user._id}`) 
      | #{user.name}
      

    a(href='/logout') Logout?
  img(src= user.photo ? `\\${user.photo}`: '/img/avatar.png')
    