doctype html
html
  head
    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title #{achievement.title} &mdash; Achievement

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')

  body
    include ../partials/header

    section.notice
      .container
        .row
          .col-8
            .notice__container
  
              .notice__full
                .notice__cover
                  img.w-100(src= `/${achievement.cover}`)
                .notice__title
                  h3 #{achievement.title}
                .notice__created
                  p  #{ moment(achievement.created).format('LLLL') }
                
                .notice__desc
                  p
                  | !{achievement.desc}

          .col-4
            aside.sidebar
            .sidebar__single
              .sidebar__single--title
                | Upcoming events
              .sidebar__single--content
                p
                  a(href='#') AOPS Intra Programming Contest
                p
                  a(href='#') AOPS Intra Gaming Contest
                p
                  a(href='#') AOPS Intra Research Cup
                p
                  a(href='#') AOPS Intra Web development Contest


            .sidebar__single
              .sidebar__single--title Past events
              .sidebar__single--content
                p
                  a(href='#') AOPS Spring 2019 Programming Contest
                p
                  a(href='#') AOPS Intra Gaming Contest
                p
                  a(href='#') AOPS Intra Research Cup
                p
                  a(href='#') AOPS Intra Web development Contest

    include ../partials/footer