doctype html
html
  head

    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title Notices &mdash; #{AOPSInfo.name} #{AOPSInfo.type}

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')

  body
    include ../partials/header

    
      
    section.notice-single
      
      .container
        if errorMessage.length > 0
          .alert.alert-danger
            | #{errorMessage}
        .row
          .col-8
            .notice-single__container
              .notice-single__heading 
                h3 NOTICES / NEWS

              each single in notices
                .notice-single__full
                  .notice-single__title
                    h3 #{single.title}
                  .notice-single__created
                    p  #{ moment(single.created).format('LLLL') }
                  .notice-single__desc
                    p
                      | #{single.excerpt} . . . 
                  a.btn.button(href=`/notice/${single._id}`) Details

          .col-4
            aside.sidebar
            .sidebar__single
              .sidebar__single--title
                | Upcoming events
              .sidebar__single--content

                for single in events
                  p
                    a(href=`/event/${single._id}`) #{single.name}
                      span
                        br
                        | #{moment(single.startTime).format('LL')}
 


            .sidebar__single
              .sidebar__single--title Past events
              .sidebar__single--content
                 for single in eventsEnded
                  p
                    a(href=`/event/${single._id}`) #{single.name}
                      span 
                        br
                        | #{moment(single.startTime).format('LL')}

        nav(aria-label='Page navigation example')
          ul.pagination
            - if (currentPage == 1)
              li.page-item.disabled
                span.page-link Previous
            - else
              li.page-item
                a.page-link(href=`/notice?page=${currentPage - 1}`) Previous


            - for (let i = 1; i <= paginateCount; ++i) {
              - if (i == currentPage)
                  li.page-item.active
                    a.page-link(href=`/notice?page=${i}`) #{i}
              - else 
                li.page-item
                    a.page-link(href=`/notice?page=${i}`) #{i}
            - }
            

            - if (currentPage == paginateCount)
              li.page-item.disabled
                span.page-link Next
                
            - else
              li.page-item
                a.page-link(href=`/notice?page=${currentPage + 1}`) Next
            





    include ../partials/footer