doctype html
html
  head

    // meta informations
    meta(charset='UTF-8')
    meta(name='viewport' content='width=device-width, initial-scale=1.0')
    meta(http-equiv='X-UA-Compatible' content='ie=edge')

    // title of the webpage
    title Notices &mdash; #{AOPSInfo.name} #{AOPSInfo.type}

    // favicon
    link(rel='icon' href='https://dummyimage.com/70x70/fff/000333&text=ACS')

    // stylesheets
    link(href='https://fonts.googleapis.com/css?family=Open+Sans:400,600,700,800&display=swap' rel='stylesheet')
    link(rel='stylesheet' href='/css/all.min.css')
    link(rel='stylesheet' href='/css/bootstrap.css')
    link(rel='stylesheet' href='/css/style.css')

  body
    include ../partials/header

    
      
    section.notice
      
      .container
        if errorMessage.length > 0
          .alert.alert-danger
            | #{errorMessage}
        .row
          .col-8
            .notice__container
              .notice__heading 
                h3 NOTICES / NEWS

              each single in notices
                .notice__full
                  .notice__title
                    h3 #{single.title}
                  .notice__created
                    p  #{ moment(single.created).format('LLLL') }
                  .notice__desc
                    p
                      | #{single.excerpt} . . . 
                  a.mt-4.btn.button(href=`/notice/${single._id}`) Details

          .col-4
            aside.sidebar
            .sidebar__single
              .sidebar__single--title
                | Upcoming events
              .sidebar__single--content
                p
                  a(href='#') AOPS Intra Programming Contest
                p
                  a(href='#') AOPS Intra Gaming Contest
                p
                  a(href='#') AOPS Intra Research Cup
                p
                  a(href='#') AOPS Intra Web development Contest


            .sidebar__single
              .sidebar__single--title Past events
              .sidebar__single--content
                p
                  a(href='#') AOPS Spring 2019 Programming Contest
                p
                  a(href='#') AOPS Intra Gaming Contest
                p
                  a(href='#') AOPS Intra Research Cup
                p
                  a(href='#') AOPS Intra Web development Contest

        nav(aria-label='Page navigation example')
          ul.pagination
            - if (currentPage == 1)
              li.page-item.disabled
                span.page-link Previous
            - else
              li.page-item
                a.page-link(href=`/notice?page=${currentPage - 1}`) Previous


            - for (let i = 1; i <= paginateCount; ++i) {
              - if (i == currentPage)
                  li.page-item.active
                    a.page-link(href=`/notice?page=${i}`) #{i}
              - else 
                li.page-item
                    a.page-link(href=`/notice?page=${i}`) #{i}
            - }
            

            - if (currentPage == paginateCount)
              li.page-item.disabled
                span.page-link Next
                
            - else
              li.page-item
                a.page-link(href=`/notice?page=${currentPage + 1}`) Next
            





    include ../partials/footer